#overlay_start_cartomancie,
#overlay_prediciton_sky
{
    display: none;
}

/*TODO : renommer et fusion les classe*/

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

}
.overlay_cartomancie {
    background-color: white;
    opacity: 1;
    background : url('/images/bg-loading.jpg') no-repeat center center fixed;
    background-size: cover;
}

.overlay_sky {
    background-image: url("images/bg_sky.jpg");
    background-size: cover;
    opacity: 1;
    filter: blur(16px);
}
