#abandonned_modificate_item_position_island,
#button_select_modificate_item_island,
#button_disable_select_item_island,
#delete_button_item_island,
#button_start_cartomancie,
#button_first_arcane_cartomancie,
#button_second_arcane_cartomancie,
#button_display_prediction_cartomancie,
#button_back_cartomancie,
#button_select_answer_question_item_cartomancie,
#button_select_paid_item_cartomancie{
    display: none;
}

/*TODO : renommer et fusion les classe*/

.button {
    position: absolute;
    box-sizing: border-box;
    height : 50px;
    width: 170px;
    z-index: 42;
    font-family: roboto-font, sans-serif;
    border: 1px solid white;
    border-radius: 16px;
    color : white;
}
.button_island {
    /*pointer-events: all;*/
    background-color: #0000001A;
}

.button_onboarding {
    /*pointer-events: all;*/
    position: absolute;
    padding : 25px;
    width: 150px;
    color : white;
    background: linear-gradient(#1C154E, #1C154E) padding-box, linear-gradient(to right, #BA9023, #FFFFFF) border-box;
    border: 4px solid transparent;
    font-family: roboto-font, sans-serif;
    border-radius: 18px;
    z-index: 42;

}

.button_onboarding:hover {
    color: lightgray;
    border: none;
}



.button_cross_island {
    /*pointer-events: all;*/
    position: absolute;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    color : white;
    background-color: #0000001A;
    font-family: roboto-font, sans-serif;
    border: 1px solid white;
    border-radius: 100%;
    z-index: 42;
}

.button_island:hover {
    background-color: red;
}

/*CARTOMANCIE*/

.button_cartomancie{
    background-color: #1C154E;
}

.button_prediction {
    background: linear-gradient(#1C154E, #1C154E) padding-box,
    linear-gradient(to right, #BA9023, #FFFFFF) border-box;
    border: 1px solid transparent;
}

.button_white {
    width: 290px;
    background-color: #0000001A;
}

.margin_icon_right {
    margin-left: 5px;
}

.margin_icon_left {
    margin-right: 5px;
}

.button_prediction_back {
    background: #00000000;
    border: 0;
}

.button_icon_back {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.little_width {
   width: 120px;
}

#button_display_prediction_cartomancie {
    width: 250px;
}