#popup_creation {
    display: none;
}

#popup_modification_item_island,
#popup_select_item_island,
#popup_create_item_island,
#popup_start_cartomancie,
#popup_first_arcane_cartomancie,
#popup_second_arcane_cartomancie,
#popup_prediction_cartomancie,
#popup_last_prediction_sky{
    display: none;
}
.div {
    position: absolute;
    box-sizing: border-box;
    padding : 25px;
    width: 90%;
    color : white;
    font-family: roboto-font, sans-serif;
    z-index: 43;
}

.div_popup {
    background: linear-gradient(#F9F9FA, #F9F9FA) padding-box,
    linear-gradient(to right, #BA9023, #FFFFFF) border-box;
    border-radius: 16px;
    border: 4px solid transparent;
}

.island_title {
    text-align : center;
    color: black;
}

.island_div_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.island_button_yes_no
{
    width : 40%;
    height : 48px;

    font-size : 1.5em;
    border-radius : 6px;
    border : none;
    margin: 4%;
}

.island_button_yes
{
    background-color : #16a085;
    color : white;
}

.island_button_no
{
    background-color : #c0392b;
    color : white;
}


/*Cartomancie*/

.cartomancie_text {
    color: #1C165E;
    text-align: center;
    font-weight: 100;
}

.div_arcane {
    position: absolute;
    box-sizing: border-box;
    padding : 25px;
    width: 90%;
    color : white;
    font-family: roboto-font, sans-serif;
    z-index: 42;
}

.text_arcane {
    border: 1px solid white;
    border-radius: 16px;
    padding: 20px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.4;
    background: #0000001A;
}

.div_prediction {
    height: 80%;
}

.height_arcane {
    height: 80%;
}
