#popup_creation {
    display: none;
}

#popup_modification_item_island, #popup_select_item_island {
    display: none;
}
.island_div_popup {
    position: absolute;
    box-sizing: border-box;
    padding : 25px;
    width: 90%;
    color : white;
    font-family: roboto-font, sans-serif;
    z-index: 42;
    background: linear-gradient(#F9F9FA, #F9F9FA) padding-box,
    linear-gradient(to right, #BA9023, #FFFFFF) border-box;
    border-radius: 16px;
    border: 4px solid transparent;

}

.island_title {
    text-align : center;
    color: black;
}

.island_div_button {
    display:flex;
    align-items: center;
    justify-content: center;
}

.island_button_yes_no
{
    width : 40%;
    height : 48px;

    font-size : 1.5em;
    border-radius : 6px;
    border : none;
    margin: 4%;
}

.island_button_yes
{
    background-color : #16a085;
    color : white;
}

.island_button_no
{
    background-color : #c0392b;
    color : white;
}
