@font-face {
  font-family: "amarente";
  src: url("/fonts/amarante-regular.ttf");
}

@font-face {
  font-family: "abeezee";
  src: url("/fonts/abeezee_regular.ttf");
}

@font-face {
  font-family: "actor";
  src: url("/fonts/actor_regular.ttf");
}


*{
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

button {
  font-family: actor, sans-serif;
  font-size: 12px;
  text-transform : uppercase;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

h2, .title_text {
  font-family: amarente, sans-serif;

}

h4, .text_style  {
  font-family: abeezee, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.5;
}
.top_position {
  top : 5%;
  left : 5%;
}

.middle_position {
  top : 50%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_10_position {
  top : 10%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_15_position {
  top : 15%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_20_position {
  top : 20%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_50_position {
  top : 50%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_55_position {
  top : 55%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_60_position {
  top : 60%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_65_position {
  top : 65%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_70_position {
  top : 70%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_80_position {
  top : 80%;
  left : 5%;
  transform: translate(0, -50%);
}

.bottom_position {
  left : 5%;
  bottom : 5%;
}

.center_position {
  left : 50%;
  transform: translate(-50%, 0);
}

.right_position {
  right : 0%;
  left : initial;
  transform: translate(-50%, 0);
}

.text{
  z-index: 42;
  position: absolute;
  text-align: center;
  color: white;
}

.title_text{
  font-size: 2em;
  color: white;
  text-shadow: 0 0 10px black;
}

.input{
  display: block;
  padding: 15px;
  /* background-color: rgba(255,255,255,0.5); */
  border: #BA9023 solid 2px;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  box-sizing: border-box;
  height: 50px;
  width: 170px;
  z-index: 42;
}

.input_onboarding{
  display: block;
  padding: 15px;
  /* background-color: rgba(255,255,255,0.5); */
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  border: none;
  margin: auto;
  position: absolute;
  box-sizing: border-box;
  height: 50px;
  width: 170px;
  z-index: 42;
  color: white;
}

.input_onboarding:focus{
    outline: none;
  border: 2px solid #FFFFFF;
}

#interactions{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    display: flex;
    flex-direction: column;
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background : url('/images/bg-loading.jpg') no-repeat center center fixed;
  background-size: cover;
}

.loader{
  display: flex;
  justify-content: center;
}

.loading_logo{
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.loading_slogan{
  padding: 10px;
  display: block;
  margin: 0 auto;
  width: auto;
  text-align: center;
  color: white;
  font-family: abeezee, sans-serif;
  font-weight: 100;
}

.loader_text{
    padding: 5px;
    display: block;
    width: auto;
    text-align: center;
    color: white;
    font-family: abeezee, sans-serif;
    font-weight: 100;
}