*{
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

.top_position {
  top : 5%;
  left : 5%;
}

.middle_position {
  top : 50%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_10_position {
  top : 10%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_50_position {
  top : 50%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_55_position {
  top : 55%;
  left : 5%;
  transform: translate(0, -50%);
}

.top_70_position {
  top : 70%;
  left : 5%;
  transform: translate(0, -50%);
}

.bottom_position {
  left : 5%;
  bottom : 5%;
}

.center_position {
  left : 50%;
  transform: translate(-50%, 0);
}

.right_position {
  right : 0%;
  left : initial;
  transform: translate(-50%, 0);
}

.text{
  z-index: 42;
  position: relative;
  text-align: center;
  margin: 50px;
  color: white;
}

.title_text{
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px black;
}

.input{
  display: block;
  padding: 15px;
  background-color: rgba(255,255,255,0.5);
  border: #BA9023 solid 2px;
  border-radius: 10px;
  margin: auto;
}

#interactions{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}